footnotes/
images/
old/

# Ignore all TeX source files
*.tex

# Ignore LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Ignore Word files
*.docx

#pandoc
pandoc.txt
style.css

# Ignore macOS junk
.DS_Store

# Keep these outputs
!Hogwarts_1347.pdf
!Hogwarts_1347.epub