# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Build folders
build/

# Python cache (if you use scripts)
__pycache__/
*.pyc